<ion-content padding>
  <ion-grid>
    <form *ngIf="loginFormGroup" [formGroup]="loginFormGroup">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-input
              formControlName="userName"
              type="text"
              placeholder="Username"
            ></ion-input>
          </ion-item>
          <div
            *ngIf="loginFormGroup.controls.userName.dirty && loginFormGroup.hasError('required', 'userName')"
            class="error"
          >
            This field is required
          </div>
          <div
            *ngIf="loginFormGroup.controls.userName.dirty && loginFormGroup.hasError('email', 'userName')"
            class="error"
          >
            Invalid email address
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-input
              formControlName="password"
              type="password"
              placeholder="Password"
            ></ion-input>
          </ion-item>
          <div
            *ngIf="loginFormGroup.controls.password.dirty && loginFormGroup.hasError('required', 'password')"
            class="error"
          >
            This field is required
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button
            [disabled]="loginFormGroup.invalid"
            color="primary"
            expand="block"
            >Login</ion-button
          >
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
