<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Transaction Type</ion-label>
          <ion-select id="transaction-types" interface="popover">
            <ion-select-option
              class="transaction-type"
              *ngFor="let transactionType of transactionTypes"
              [value]="transactionType.id"
              >{{transactionType.name}}</ion-select-option
            >
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-textarea #barcodes placeholder="Barcodes..."></ion-textarea>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
